**1**. Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [ ]:
import re

pattern = "^[A-Za-z0-9]*$"

# input
str1 = "Hello88"
str2 = "Assigment@6"
x=re.match(pattern, str1)
y=re.match(pattern, str2)

print(x)
print(y)

<re.Match object; span=(0, 7), match='Hello88'>
None

2. Write a Python program that matches a string that has an a followed by zero or more b's.

In [ ]:
import re
patterns = '^a(b*)$'
text="abbbb"
if re.search(patterns,  text):
  print('Found a match!')
else:
  print('Not matched!')

Found a match!

3. Replace only the first occurrence of 5 with five for the given string



---

In [ ]:
ip = 'They ate 5 apples and 5 oranges'
text = ip.replace("5", "five", 1)
print(text)

They ate five apples and 5 oranges

4. Write a Python program that matches a string that has an a followed by three 'b'.

In [2]:
import re
pattern= 'ab{3}?'
txt="abbbb"
if re.search(pattern,txt):
  print('Found a match!')
else:
  print('Not matched!')

Found a match!

5. Write a Python program that matches a string that has an 'a' followed by anything ending in 'b'.

In [5]:
import re
pattern = r'a.*b$'
txt="aytygusfergb"
if re.search(pattern,txt):
  print('Found a match!')
else:
  print('Not matched!')

Found a match!

6. Write a Python program to search for numbers (0-9) of length between 1 and 3 in a given string.

In [8]:
txt="Exercises number 1, 12, 13, and 345 are important"
import re
re.findall(r'\d{1,3}', txt)

['1', '12', '13', '345']

7. Write a Python program to search for literal strings within a string.\
Sample text : 'The quick brown fox jumps over the lazy dog.' \
Searched words : 'fox', 'dog', 'horse'

In [9]:
import re
text='The quick brown fox jumps over the lazy dog.'

re.findall(r'\b\wo.',text)

['fox', 'dog']

8. Write a Python program to search for a literal string in a string and also find the location within the original string where the pattern occurs.

Sample text : 'The quick brown fox jumps over the lazy dog.' \
Searched words : 'fox'

In [13]:
import re
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
print("the word begins at "+str(s))

the word begins at 16

9.  Write a Python program to extract year, month and date from an URL

In [24]:
url1= "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell-beckhams-fame-rests-on-one-stupid-little-ball-josh-norman-tells-author/"

import re
re.findall (r'/(\d{4})/(\d{1,2})/(\d{1,2})/', url1)

[('2016', '09', '02')]

10. Write a Python program to find URLs in a string.

In [23]:
text = '<p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>'
import re
re.findall(r'https?://\w+[.][a-z]{1,3}',text)

['https://w3resource.com', 'http://github.com']

11. Write a Python program to remove the parenthesis area in a string.\

Sample data : ["example (.com)", "w3resource", "github (.com)", "stackoverflow (.com)"] \
Expected Output: \
example  \
w3resource \
github  \
stackoverflow. \

In [32]:
import re
data=["example (.com)", "w3resource", "github (.com)", "stackoverflow (.com)"]
for d in data:
    print(re.sub(r" ?\([^)]+\)", "", d))

example
w3resource
github
stackoverflow

12. Write a Python program to concatenate the consecutive numbers in a given string. \

Original string:  \
Enter at 1 20 Kearny Street. The security desk can direct you to floor 1 6. Please have your identification ready.  \

After concatenating the consecutive numbers in the said string:  \
Enter at 120 Kearny Street. The security desk can direct you to floor 16. Please have your identification ready.

In [38]:
import re
s="Enter at 1 20 Kearny Street. The security desk can direct you to floor 1 6. Please have your identification ready."
result=re.sub(r"(?<=\d)\s(?=\d)", '', s)
print(result)

Enter at 120 Kearny Street. The security desk can direct you to floor 16. Please have your identification ready.